.wrapper{
  margin: 0 auto;
}
.container {
  text-align: center;
  width: 400px;
  height: 600px;
  background-color: #0366d6;
  color: #fff;
}

.img-container {
  display: flex;
}

.img-container img {
  width: 100px;
  border-radius: 10px;
}
