

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5F5F5;
  font-family: PingFangSC-Regular;
}



.protocol_title{
  font-size: .3rem;
  font-weight: bolder;
  color: #333333;
  letter-spacing: 0;
  line-height: .3rem;
  padding-top: .48rem;
}

.protocol_text{
  font-size: .24rem;
  color: #666666;
  letter-spacing: 0;
  text-align: justify;
  line-height: .36rem;
  margin-top: .24rem;
  margin-bottom: .24rem;
}
